.activities{
    box-sizing: border-box;
    text-align: center;
    margin: 10% 25%;
    border-radius: 4px;
    border: 1px solid #AFAFAF;
    background: linear-gradient(#b6b4b4, #F7F7F7);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.activities p{
    padding-top: 2%;
    font-weight: 400;
    color: rgb(107, 107, 107);
    text-shadow: 0 0 3px #ffffff;
    margin-bottom: 5px;
    cursor: pointer;
}