.container{
    position: absolute;
    top: 40%;
    left: 35%;
    width: 30%;
    height: 20%;
    z-index: 1;
    background-color: blue;

    text-align: center;
    border-radius: 6px;
    border: 1px solid #e6e0e0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgb(217, 186, 238);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.x-btn{
    font-weight: 100;
    margin-top: 0;
    margin-right: 2%;
    text-align: right;
    cursor: pointer;
    color: rgb(255, 255, 255);
}